<div id="<%= dom_id event %>">
  <p>
    <strong>Mentor:</strong>
    <%= event.mentor_id %>
  </p>

  <p>
    <strong>Mentee:</strong>
    <%= event.mentee_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= event.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= event.end_time %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= event.length %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= event.note %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

</div>
